.delete-recipe-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 3rem;
  box-shadow: -1px 6px 18px 0px #00000067;
  background-color: #ffffff;
  animation: scaleIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.confirm-container-recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  gap: 2rem;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
