.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  width: 80vw;
  margin: 0 auto;
  height: 70vh;
  border-radius: 20px;
}
