.recipe-card-container {
  padding: 0.5rem 1rem 1rem 1rem;
  box-shadow: -1px 6px 18px 0px #00000067;
  background-color: #ffffff;

  .desc {
    margin-left: 2.2rem;
  }
}

.icon {
  margin-right: 0.5rem;
}

.ingredients-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
