.recipe-card-container {
  padding: 0.5rem 1rem 1rem 1rem;
  box-shadow: -1px 6px 18px 0px #00000067;
  background-color: #FFF6F0;
  border-radius: 15px;
  overflow:hidden;

  .descriptionOfRecipe {
    background-color: #FFF6F0;
    box-shadow: none;
    color: black;
  }
}

.icon {
  margin-right: 0.5rem;
  // float: left;
}

.ingredients-container {
  align-items: center;
  gap: 0.2rem;
  justify-content: flex-start;
}

.recipeIngredients {
  float: right;
}
