.add-ingredient-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 0.5rem 1rem 1rem 1rem;
  box-shadow: -1px 6px 18px 0px #00000067;
  background-color: #ffffff;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.add-ingredient-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
