.button {
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  width: max-content;
}

.add {
  color: white;
  border-radius: 15px;
  background-color: #E56D4C;
  font-size: 1rem;
}

.remove {
  background-color: red;
  color: white;
}
