.add-recipe-container {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-35%, -40%);
  width: 30vw;
  padding: 1rem;
  box-shadow: -1px 6px 18px 0px #00000067;
  background-color: #FFF6F0;
  animation: scaleIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
  border-radius: 15px;
  flex-direction: column;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.preparationLengthDiv {
  display: flex;

  input[type="text"] {
    width: 3rem;
    margin-right: 0.5rem;
  }
}

label {
  margin-right: 0.5rem;
}

.descLabel {
  display: table-header-group;
}

.amountAndUnit {
  float: right;
}

.oneIngredient {
  width: 3rem;
  margin-right: 0.5rem;
  float:  left;
}

.unit {
  text-align: right;
}
