@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");

$background-color-header: #96ceb4;
.header-container {
  border-radius: 0px 0px 35px 35px;
  background-color: $background-color-header;
  width: 100%;
  height: 20vh;
  padding-left: 1rem;
  padding-top: 0.5rem;

  .title {
    font-family: "Calligraffitti";
    margin: 0.7rem 0 0 0.7rem;
  }
  .subtitle {
    margin-left: 3rem;
  }
}
