.filter-area-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  animation: fadeIn 0.5s ease-in;
  position: absolute;
  right: 7rem;
  height: 5vh;
  overflow: scroll;
}

@keyframes fadeIn {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
