.search-box {
  input[type="text"] {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    width: 100%;
    font-size: 1.2rem;
    &:focus {
      outline: none;
    }
  }
}
